<!DOCTYPE html>
<html>

<head>
    <title>Hello WebSocket</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>

<body>
<div>
    Id của bạn: <input type="text" id="idMe" value="1" /><br />
    <button id="login">Đăng nhập</button>
</div>
<div id="connected" style="display: none;">
    <div id="create-group">
        <h4>Tạo nhóm</h4>
        <div>
            Tên nhóm: <input type="text" id="cg-name" value="" /><br />
            Id người thêm: <input type="text" id="cg-id-add" value="" /><br />
            <input type="button" value="Tạo nhóm" id="cg-create"><br />
        </div>
    </div>
    <div id="list-conversation">
        <h4>Danh sách cuộc trò chuyện</h4>
        <button id="lc-get">Lấy danh sách</button><br />
    </div>
    <div id="list-message">
        <h4>Danh sách tin nhắn</h4>
        Id cuộc trò chuyện: <input type="text" id="lm-id-conversation"><br />
        <button id="lm-get">Lấy danh sách</button><br />
    </div>
    <div id="message">
        <h4>Nhắn tin</h4>
        Id cuộc trò chuyện: <input type="text" id="m-id-conversation"> <button id="m-connect">Đăng kí</button>
        <div id="message-open" style="display: none;">
            Nội dung: <input type="text" id="mo-content"> <br />
            ID quote tin nhắn: <input type="text" id="mo-quote-content"><br />
            <button id="mo-send">Gửi</button>
        </div>
    </div>
    <div id="log">

    </div>
</div>
<script>
    let tokenMessage = null;

    var stompClient = null;

    $("#login").click(function () {
        tokenMessage = $("#idMe").val();
        let urlWS = "http://localhost:8080/ws";
        let sockjs = new SockJS(urlWS);
        stompClient = Stomp.over(sockjs);
        stompClient.connect({}, function (frame) {
            $("#connected").show();
            stompClient.subscribe(`/messages/inbox/user_${tokenMessage}`, (payload) => logMessage(payload));
        });
    });

    $("#cg-create").click(function () {
        let name = $("#cg-name").val();
        let idAdd = $("#cg-id-add").val();
        let idMe = $("#idMe").val();
        let objSend = {
            "accountId": idMe,
            "conversationId": "",
            "name": name,
            "accountIdAdd": idAdd
        };
        stompClient.send(`/app/user_${tokenMessage}/create-conversation`, {}, JSON.stringify(objSend));
    });

    $("#lc-get").click(function () {
        let idMe = $("#idMe").val();
        let objSend = {
            "accountId": idMe,
            "conversationId": "",
            "page": 0,
            "pageSize": 10
        };
        stompClient.send(`/app/user_${tokenMessage}/get-list-conversation`, {}, JSON.stringify(objSend));
    });

    $("#lm-get").click(function () {
        let idMe = $("#idMe").val();
        let idConversation = $("#lm-id-conversation").val();
        let objSend = {
            "accountId": idMe,
            "conversationId": idConversation,
            "page": 0,
            "pageSize": 10,
            "order": "DESC",
            "orderBy": "id"
        };
        stompClient.send(`/app/user_${tokenMessage}/get-list-message`, {}, JSON.stringify(objSend));
    });

    $("#m-connect").click(function () {
        let idConversation = $("#m-id-conversation").val();
        // kết nối cuộc trò chuyện tiện tay lấy lại danh sách tin nhắn luôn
        $("#lm-id-conversation").val(idConversation);
        $("#lm-get").click();
        //
        stompClient.subscribe(`/messages/inbox/conversation_${idConversation}`, (payload) => logConversation(payload));
        $("#message-open").show();
    });

    $("#mo-send").click(function () {
        let idMe = $("#idMe").val();
        let idConversation = $("#m-id-conversation").val();
        let content = $("#mo-content").val();
        let quoteContent = $("#mo-quote-content").val();
        let objSend = {
            "accountId": idMe,
            "conversationId": idConversation,
            "message": content,
            "quoteMessageId": quoteContent
        };
        stompClient.send(`/app/conversation_${idConversation}/send`, {}, JSON.stringify(objSend));
    });

    function logConversation(payload) {
        let body = JSON.parse(payload.body);
        if (body.type == 'SEND' && body.status == true) {
            let element = body.data;
            let id = element.id;
            let name = element.createBy.name;
            let content = element.message;
            let quote = "";
            if (element.quoteMessage != null) {
                quote = `(${element.quoteMessage.createBy.name}: ${element.quoteMessage.message})`;
            }
            $("#log").prepend(`[${id}] <img src="${element.createBy.avatar}" style="width: 50px" /> ${name}: ${quote} ${content} <br/>`);
        }
    }

    function logMessage(payload) {
        let body = JSON.parse(payload.body);
        if (body.type == "LIST_MESSAGE" && body.status == true) {
            body.data.forEach(element => {
                let id = element.id;
                let name = element.createBy.name;
                let content = element.message;
                let quote = "";
                if (element.quoteMessage != null) {
                    quote = `(${element.quoteMessage.createBy.name}: ${element.quoteMessage.message})`;
                }
                $("#log").append(`[${id}] <img src="${element.createBy.avatar}" style="width: 50px" /> ${name}: ${quote} ${content} <br/>`);
            });
        }
    }
</script>
</body>

</html>